<div data-ng-controller="GenCtrl as generate">
	<div id="myHeader" class="container">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<h3 data-ng-click="generate.efrenSpecial()">By: Efren Olivas</h3>
		</div>
		<div class="col-xs-4"></div>	
	</div>
	<div class="container centered">
			<div class="pokename" data-ng-show="generate.fatal">
				<h1>Gross, Charizard is DOA</h1>
				<h2>Too bad, really. That was going to be a good battle.</h2>
				<h2>Please refresh and try again</h2>
			</div>
			<div id="generateButton" class="containerc entered" ng-hide="generate.btnHider">
				<button data-ng-click="generate.randomPokemon()" type="button" class="btn btn-lg btn-warning">GENERATE RANDOM MATCHUP</button>
			</div>
	</div>
		<div id="Notes" class="container centered pokename" ng-hide="generate.btnHider">
			<h4>1. Battle between two teams of three randomly generated pokemon</h4>
			<h4>2. Leveled stats and damage</h4>
			<h4>3. Faster Pokemon have a better chance of landing critical hits for 2X damage</h4>
		</div>
		
		
		<div  class="centered container" ng-show="generate.loadingImage">
			<img id="loadingImage" src="resources/sprites/loadingGif.gif"/>
		</div>
		<div class="pokename" data-ng-show="generate.prob1">
			<h2>Pokemon Server is taking it's sweet time</h2>
		</div>
		<div class="pokename" data-ng-show="generate.prob2">
			<h2>Ah geez really? ..still waiting? What's going on here?</h2>
		</div>
</div>
	
	
