	<div id="myHeader">
		<h3>By: Efren Olivas</h3>	
	</div>
<div data-ng-controller="matCtrl as mat">
	<div class="centered">
		<div>
			<button data-ng-click="mat.restart()" type="button" class="btn btn-sm btn-danger" data-ng-show="mat.beginShow">Restart</button>
		</div>
		<div>
  			<button data-ng-click="mat.enterFighters()" ng-show="mat.beginShow" type="button" class="btn btn-lg btn-primary">Fight!</button>
  		</div>
  	</div>

  		<div class="container battlebox mainbox-show-hide content-area" ng-show="mat.battlebox">


  			<div class="pokename container bbheader mainbox-show-hide content-area" ng-show="mat.bbheader">HERE WE GO
  			</div> 
  			 				 				
    			<div id="poke0" class="container col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="mat.poke0Show">		
    				<div ng-cloak data-ng-show="mat.player0Poke[0]">
    					<div class="pokename">
							<h2>PLAYER ONE'S TEAM</h2>
						</div>
						<img id="poke0Front" class="pokeImage mirrored" alt="No Image" data-ng-src="{{mat.player0Poke[0].imageFront}}"/>
						<div class="pokename">
							<h3>{{mat.player0Poke[0].name}}</h3>
							<h4>Level: {{mat.player0Poke[0].battleStats.level}}</h4></br>
						</div>
<!-- 		try to create a tree view - with first pokemon on top and next two next to eachother on second row -->
						<div>
							<img id="poke0Front" class="pokeImage mirrored" alt="No Image" data-ng-src="{{mat.player0Poke[1].imageFront}}"/>
							<div class="pokename">
								<h3>{{mat.player0Poke[1].name}}</h3>
								<h4>Level: {{mat.player0Poke[1].battleStats.level}}</h4></br>
							</div>
							<img id="poke0Front" class="pokeImage mirrored" alt="No Image" data-ng-src="{{mat.player0Poke[2].imageFront}}"/>
							<div class="pokename">
								<h3>{{mat.player0Poke[2].name}}</h3>
								<h4>Level: {{mat.player0Poke[2].battleStats.level}}</h4></br>
							</div>
						</div>	
					</div>
				</div>	
				<div id="poke1" class="container col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="mat.poke1Show">
					<div ng-cloak data-ng-show="mat.player0Poke[1]">
						<div class="pokename">
							<h2>PLAYER TWO'S TEAM</h2>
						</div>
						<img id="poke1Front" class="pokeImage" alt="No Image" data-ng-src="{{mat.player1Poke[0].imageFront}}"/>
						<div class="pokename">
							
							<h3>{{mat.player1Poke[0].name}}</h3>
							<h4>Level: {{mat.player1Poke[0].battleStats.level}}</h4></br>
						</div>
						<img id="poke1Front" class="pokeImage" alt="No Image" data-ng-src="{{mat.player1Poke[1].imageFront}}"/>
						<div class="pokename">
							<h3>{{mat.player1Poke[1].name}}</h3>
							<h4>Level: {{mat.player1Poke[1].battleStats.level}}</h4></br>
						</div>
							<img id="poke1Front" class="pokeImage" alt="No Image" data-ng-src="{{mat.player1Poke[2].imageFront}}"/>
						<div class="pokename">
							<h3>{{mat.player1Poke[2].name}}</h3>
							<h4>Level: {{mat.player1Poke[2].battleStats.level}}</h4></br>
						</div>
						>
					</div>				
    			</div>	
  			
  				
		</div>
	
</div>
	
	
