<h1>Redirect works</h1>
<div data-ng-controller="MatchCtrl as mat">

	<button data-ng-click="mat.printPoke()" type="button" class="btn btn-success">print</button>
			
	<div ng-cloak data-ng-show="mat.poke0">
		<div><h1>{{mat.poke0.name}}</h1></div>
		<img alt="No Image" data-ng-src="{{mat.poke0.imageFront}}"/>
	</div>
	<div ng-cloak data-ng-show="mat.poke1">
		<div><h1>{{mat.poke1.name}}</h1></div>
		<img alt="No Image" data-ng-src="{{mat.poke1.imageFront}}"/>
	</div>
	
	<button data-ng-click="mat.readyFight()" type="button" class="btn btn-danger">fight</button>
</div>

	
