<!-- <div data-ng-controller="matCtrl as mat"> -->
<!-- 	<div class="centered"> -->
<!-- 	<button data-ng-click="mat.restart()" type="button" class="btn btn-danger">Restart</button> -->
<!-- 	</div> -->
<!-- </div> -->


<div data-ng-controller="PlayerOne as p1">
<button data-ng-click="p1.restart()" type="button" class="centered btn btn-danger">Restart</button>
<h3 class="centered pokename">PLAYER ONE: {{p1.poke0.name}}'s Turn</h3>

<!-- debugging button -->
<!-- <button data-ng-click="p1.switchView()" type="button" class="btn btn-danger">View Change</button> -->

<!-- 	topBox -->
	<div class="container col-xs-12">
		<div class="col-xs-6 hpBar">
			<div class="pokename">
				{{p1.poke1.name}}
				<uib-progressbar  class="progress-striped active" type="{{p1.poke1.battleStats.hpBarType}}" value="p1.poke1.battleStats.hpCurr" max="p1.poke1.battleStats.hpMax"></uib-progressbar>
				<div class="moveInfo">
					{{p1.check.display}}
					{{p1.check.dmg}}
				</div>
			</div>
		</div>
		<div class="col-xs-6 frontImage">
			<img id="poke1Front" class="pokeImage" alt="No Image" data-ng-src="{{p1.poke1.imageFront}}"/>
		</div>
	</div>
	
<!-- 	bottomBox -->

	<div class="container col-xs-12">
		<div class="col-xs-6 backImage"> 
			<img id="poke0Back" class="pokeImage" alt="No Image" data-ng-src="{{p1.poke0.imageBack}}"/>
		</div>
		<div class="col-xs-6 hpBar"> 
			<div class="pokename"> 
				{{p1.poke0.name}}
				<uib-progressbar  class="mirrored progress-striped active" type="{{p1.poke0.battleStats.hpBarType}}" value="p1.poke0.battleStats.hpCurr" max="p1.poke0.battleStats.hpMax"></uib-progressbar>
				<div data-ng-hide="p1.hideMoves">
<!-- 				debugging buttons -->
<!-- 					<button data-ng-click="p1.myself()" type="button" class="btn btn-success">myself</button> -->
<!-- 					<button data-ng-click="p1.opponent()" type="button" class="btn btn-danger">opponent</button> -->
					
<!-- 					to be replaced by at least 4 real moves/buttons -->
					<button data-ng-click="p1.spAtk()" type="button" class="btn btn-info">Special Attack!</button>
					<button data-ng-click="p1.phAtk()" type="button" class="btn btn-warning">Physical Attack!</button>
					<button data-ng-click="p1.switchPokemon()" type="button" class="btn btn-primary">Change Pokemon!</button>
				</div>
			</div>
		</div>
	</div>		 				 					
	
</div>



