	<div data-ng-controller="PlayerOneWin as win1">
	
	
		<div class="container centered pokename">
		<div><h1>PLAYER ONE WINS!</h1></div>
			<div class="col-xs-4">
				<h2>{{win1.winner[0].name}}</h2>
				<img id="pokeWinner" class="pokeImage" alt="No Image" data-ng-src="{{win1.winner[0].imageFront}}"/>
			</div>
			<div class="col-xs-4">
				<h2>{{win1.winner[1].name}}</h2>
				<img id="pokeWinner" class="pokeImage" alt="No Image" data-ng-src="{{win1.winner[1].imageFront}}"/>
			</div>
			<div class="col-xs-4">
				<h2>{{win1.winner[2].name}}</h2>
				<img id="pokeWinner" class="pokeImage" alt="No Image" data-ng-src="{{win1.winner[2].imageFront}}"/>
			</div>
		</div>
		<div class="centered">
			<button data-ng-click="win1.restart()" type="button" class="btn btn-danger">RESTART</button>
		</div>
	</div>
	
	
